$color-light: white;
$color-dark: black;



$color-main: var(--color-main);
$contrast-color: var(--contrast-color);
$background-color: var(--background-color);
$background-book: var(--background-book);

$font-italic: var(--font-italic);
$font-main: var(--font-main);

$italic-size: var(--italic-size);
$msg-size: var(--msg-size);
$title-size: var(--title-size);

$margin-5: var(--margin-5);

$radius5: var(--radius5);